html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
}

/* MAP ---------------------------------------------------------------------- */
#map {
  height: 100%;
}
#legend {
  padding: 10px;
}

/* LOCATION LIST PANEL ------------------------------------------------------ */
#sticky {
  position: fixed;
  height: 100%;
  width: 320px;
  z-index: 1;
  top: 100px;
}
#info-content {
  height: 400px;
  border-bottom: white 1px solid;
  overflow: overlay;
}
.info-window-content {
  color: #999;
}
.info-window-content img {
  text-align: center;
}

/* FORM --------------------------------------------------------------------- */
input {
  width: 300px;
  margin: 10px 12px;
  padding: 0 11px 0 13px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  color: #999;
  text-overflow: ellipsis;
  font-family: arial;
  font-size: 15px;
  font-weight: 300;
}

input:focus {
  border-color: #4d90fe;
}
/* HELPER CLASSESS ---------------------------------------------------------- */
.hide {
  display: none;
}