html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
}

/* MAP ---------------------------------------------------------------------- */
#map {
  height: 100%;
}
#legend {
  padding: 10px;
}
/* LOCATION LIST PANEL ------------------------------------------------------ */
.sidebar-content {
  position: fixed;
  width: 320px;
  top: 175px;
  left: 0;
  height: 500px;
  z-index: 1;
  border-bottom: white 1px solid;
  background-color: #333;
  margin: 10px 0px;
  padding: 10px 0;
}
.list-group {
  margin: 0;
  height: 300px;
  overflow: overlay;
}
.info-window-content {
  color: #333;
}
.info-window-content img {
  text-align: center;
}

/* SEARCH PANEL ------------------------------------------------------------- */
.search-panel {
  position: fixed;
  width: 320px;
  z-index: 1;
  top: 100px;
}

.search-panel-container {
  max-width: 320px;
}

input {
  width: 300px;
  margin: 10px 12px;
  padding: 0 11px 0 13px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  color: #999;
  text-overflow: ellipsis;
  font-family: arial;
  font-size: 15px;
  font-weight: 300;
}

input:focus {
  border-color: #4d90fe;
}

.search-description {
  width: 320px;
  font-weight: 100;
  letter-spacing: 0.1em;
  margin: 0 15px 18px;
  font-size: .90em;
}

.results-btn-wrapper {
  float: right;
  position: relative;
  margin: 0 0 10px;
  min-height: 25px;
}

.results-value {
  position: absolute;
  background: #49A3D7;
  top: -18px;
  right: -20px;
  border-radius: 16px;
  font-size: 1.2em;
  padding: 4px 0px;
  height: 2em;
  width: 2em;
}

/* HELPER CLASSESS ---------------------------------------------------------- */
.hide {
  display: none;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .search-panel {
    position: relative;
    width: 100%;
    top: 0;
  }
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }
  .sidebar-content {
    left: -100%;
     -webkit-transition: all .25s ease-out;
     -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
  }
  .active > .sidebar-offcanvas > .sidebar-content {
    left: 0;
     -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }
  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas, .row-offcanvas-right > .sidebar-content {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active, .row-offcanvas-right.active > .sidebar-content  {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active, .row-offcanvas-left.active > .sidebar-content {
    left: 0; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
