/* =======================================================================
PARTIAL - About
========================================================================== */

.about-name {
  font-weight: bold;
}
.about-title {
  font-size: @type-small;
  display: block;
}
.about-details {
  color: @color-black-40;
  font-size: @type-small;
  //font-style: italic;
  .t-dense;
  display: block;
}
.list-about {
  line-height: 1.45em;
  &:extend(.list-req all);
  &:extend(.list-bullet all);
}

// ANNOTATED BIBLIOGRAPHY
.list-bib {
  &:extend(.list-req all);
}
.bib-title {
  font-weight: bold;
  margin-bottom: 0;
}

.bib-desc {
  //font-style: italic;
  color: @color-black-65;
  font-weight: 300;
}