{% include func/base-url.html %}

{% comment %}
  <!--
  Function for returning page by page_tpl to create a link to page.
  -->
{% endcomment %}

{% assign pages =  site.pages %}

  {% for page in pages %}
    {% if page.tpl_id == include.tpl_id %}
      {% assign url_title =  page.title %}
      {% if include.link_title != "" %}
        {% assign url_title =  include.link_title %}
      {% endif %}

      {% assign page_url =  page.permalink | remove_first: "/" %}
      <a {{include.attributes}} href="{{ page_url | prepend: relative-baseurl }}">{{ url_title }}</a>
    {% endif %}
  {% endfor %}
